*{
    margin: 0px;
    padding: 0px;
}
.logo{
    width: 200px;
    padding-right: 20px;
    margin-right:40px;
    
}
.upper-part{
    border: 10px solid black;
    border-radius: 60px;
    margin: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(68, 38, 3);
    color:antiquewhite;
}
.nav-list{
    margin-left: 40px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.item{
    font-size: 20px;    
    font-family: Arial, Helvetica, sans-serif;    margin-left: 20px;
    text-decoration: underline;
    padding-left: 20px;
    cursor: pointer;
}
.item:hover{
    color: chocolate;
}
.banner-img{
    width: 400px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 600px;
    border: 10px solid black;
    border-radius: 60px;
    margin: 20px;
    align-items: center;
    background-color:rgb(68, 38, 3); 
    color: white;
    font-size: 20px;

}
.button{
    padding: 5px 5px;
    background-color: chocolate;
    color: rgb(226, 168, 97);
    border: none;
    border-radius: 5px;
}
.button:hover{
    color: rgb(135, 42, 8);
}
.about-img{
    width: 250px;
}
.div-container{
    border: 10px solid black;
    border-radius: 60px;
    margin: 20px;
    background-color:rgb(68, 38, 3); 
    color: white;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
 

}
.title-container{
    padding-top: 30px;
}
.title{
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    margin: 0px 200px;
    background-color:rgb(68, 38, 3);
    color: rgb(228, 192, 33);
}
.about-text{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
    
}
.items-heading{
    text-align: center;
    padding-bottom: 15px;
    font-size: 40px;
    color: rgb(228, 192, 33);
}
.cake-img{
    width: 200px;
    height: 280px;
    border-radius: 30px;
}
 .cakes{
    width: 200px;
    border-radius: 30px;
    box-shadow: 4px 4px 15px rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(200, 148, 79);
    color: white;
 }
 .pastry-img{
    width: 200px;
    height: 280px;
    border-radius: 30px;
 }
 .pastry{
    width: 200px;
    border-radius: 30px;
    box-shadow: 4px 4px 15px rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(200, 148, 79);
    color: white;
 }
 .cupcakes-img{
    width: 200px;
    
    height: 280px;
    border-radius: 30px;
 }
 .cupcakes{
    width: 200px;
    border-radius: 30px;
    box-shadow: 4px 4px 15px rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(200, 148, 79);
    color: white;
 }
 .menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    
    
 }
 .menu-heading{
    color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px 0px;
 }
 .third-sec{
    background-color:rgb(68, 38, 3);
    border: 10px solid black;
    border-radius: 60px;
    margin: 20px;
 }
 .f1-img{
    width: 150px;
 }
 .footer-container{
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
       
 }
.f-head{
    padding-bottom: 15px;
    
}
.last-part{
    height: 400px;
    background-color:rgb(68, 38, 3); 
    color: white;
    border: 10px solid black;
    border-radius: 60px;
    margin: 20px;
}
.copy{
    text-align: center;
    padding-top: 80px;
}

